<li class="user-list__item" data-id="{{id}}" draggable="true">
    <div class="user-list__item-avatar">
        <img src="{{photo_200}}" alt="" class="user-list__item-avatar-image" draggable="false">
    </div>
    <div class="user-list__item-data">
        <div class="user-list__item-name">{{first_name}} {{last_anme}}</div>
    </div>
    <div class="user-list__item-action user-list__item-action_{{action}}"></div>
</li>