<div class="review-form__dialog">
    <div class="review-form__header">
        <div class="review-form__header-title">{{address}}</div>
        <button class="review-form__header-close" id="closeDialog"></button>
    </div>

    <div class="review-form__body">
        <div class="review-form__section">
            {{#unless reviews}}
                <div class="review-form__section-title">
                    Отзывов пока нет...
                </div>
            {{/unless}}

            {{#if reviews}}
                <ul class="review-form__list">
                    {{#each reviews}}
                        <li class="review-form__list-item">
                            <div class="review-form__list-item-header">
                                <strong>{{name}}</strong> {{place}} {{datetime}}
                            </div>

                            <div class="review-form__list-item-comment">
                                {{comment}}
                            </div>
                        </li>
                    {{/each}}
                </ul>
            {{/if}}
        </div>

        <div class="review-form__section">
            <div class="review-form__section-title">
                Ваш отзыв
            </div>

            <form class="review-form__form" id="reviewForm">
                <fieldset class="review-form__fieldset">
                    <input class="review-form__input" id="reviewName" name="reviewName" placeholder="Ваше имя" required>
                </fieldset>

                <fieldset class="review-form__fieldset">
                    <input class="review-form__input" id="reviewPlace" name="reviewPlace" placeholder="Укажите место"
                           required>
                </fieldset>

                <fieldset class="review-form__fieldset">
                    <textarea class="review-form__textarea" id="reviewComment" name="reviewComment"
                              placeholder="Поделитесь впечатлениями" required></textarea>
                </fieldset>

                <input type="hidden" id="reviewAddress" name="reviewAddress" value="{{address}}">
                <input type="hidden" id="reviewCoords" name="reviewCoords" value="{{coords}}">

                <button type="submit" class="btn" id="reviewSubmit">Добавить</button>
            </form>
        </div>
    </div>
</div>