<div class="review-form__dialog">
    <div class="review-form__header">
        <div class="review-form__header-title">Все скомпанованные точки</div>
        <button class="review-form__header-close" id="closeDialog"></button>
    </div>

    <div class="review-form__body">
        <div class="review-form__section">
            <div class="slider">
                <ul class="slider__list">
                    {{#each reviews}}
                        <li class="slider__list-item">
                            <div class="slider__list-item-header">
                                {{address}} {{name}} {{place}} {{datetime}}
                            </div>

                            <div class="slider__list-item-comment">
                                {{comment}}
                            </div>
                        </li>
                    {{/each}}
                </ul>

                <div class="slider__controls">
                    <div class="slider__controls-left"></div>
                    <div class="slider__controls-right"></div>
                </div>

                <div class="slider__footer">
                    <ul class="slider__footer-list">
                        {{#each reviews}}
                            <li class="slider__footer-list-item">
                                <a href="#" class="slider__footer-list-item-link"
                                   data-coords="{{coords}}">{{@index}}</a>
                            </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>